<link href="https://kmoorephs.github.io/js/js-parsons/parsons.css" rel="stylesheet" />
<link href="https://kmoorephs.github.io/js/js-parsons/lib/prettify.css" rel="stylesheet" />

<script src="https://kmoorephs.github.io/js/kmoorephs/lib/jquery.min.js"></script>
<script src="https://kmoorephs.github.io/js/kmoorephs/lib/jquery-ui.min.js"></script>
<script src="https://kmoorephs.github.io/js/jquery.ui.touch-punch.min.js"></script>
<script src="https://kmoorephs.github.io/js/kmoorephs/lib/skulpt.js"></script>
<script src="https://kmoorephs.github.io/js/kmoorephs/lib/skulpt-stdlib.js"></script>
<script src="https://kmoorephs.github.io/js/kmoorephs/lib/underscore-min.js"></script>
<script src="https://kmoorephs.github.io/js/kmoorephs/lib/lis.js"></script>
<script src="https://kmoorephs.github.io/js/kmoorephs/lib/jquery.sound.js"></script>
<script src="https://kmoorephs.github.io/js/kmoorephs/lib/prettify.js"></script>
<script src="https://kmoorephs.github.io/js/kmoorephs/parsons.js"></script>
